* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --accent: #607CE6;
  --dark: #333333;
  --light: #FFFFFF;
  --third: #D9D9D9;
  --gray: #888888;
  --light-gray: #F5F5F5;
}
body {
  background-color: var(--light);
  font-family: 'Source Sans 3', sans-serif;
  font-style: normal;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
img {
  display: block;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 32px;
}
/* Шапка сайта */
.header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 63px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark);
  font-size: 16px;
}
/* Раздел с названием */
.info {
  height: 616px;
}
.start h1{
  font-size: 60px;
  font-weight: 700;
  color: var(--dark);
  line-height: 120%;
  margin-top: 89px;
}
.start p {
  font-size: 16px;
  color: var(--dark);
  line-height: 120%;
  margin-top: 115px;
}
.start {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero {
  height: 440px;
  width: 1180px;
  padding-top: 32px;
}
/* Раздел - О предприятии */
.about {
  height: 602px;
  margin-top: 127px;
}
.about_grid {
  display: grid;
  grid-template: repeat(2,1fr)/repeat(2,1fr);
  gap: 20px;
}
.about_grid_item {
  height: 110px;
}
.img_about {
  width: 580px;
  height: 280px;
}
/* Раздел - Продукция */
.products {
  height: 985px;
  margin-top: 80px;
}
.products_grid {
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  gap: 20px;
}
.products_grid_item {
  width: 380px;
  height: 435px;
  background-color: var(--light-gray);
}
.products_grid_item img, h3, .more {
  padding-left: 24px;
  padding-top: 32px;
}
.more {
  color: var(--accent);
}
.img_products {
  width: 200px;
  height: auto;
}
.type {
  width: 200px;
  height: 200px;
}
.name {
  padding-top: 125px;
}
/* Раздел - Новости */
.new {
  height: 568px;
  margin-top: 113px;
  margin-bottom: 150px;
}
.new_grid {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  gap: 20px;
}
.new_grid_item {
  width: 380px;
  height: 478px;
  background-color: var(--light-gray);
}
.description {
  text-align: left;
  height: 84px;
  padding: 16px 16px 83px 16px;
}
.read{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 81px;
}
.read_next {
  color: var(--accent);
  padding-left: 11px;
}
.data {
  color: var(--gray);
  padding-right: 11px;
}
.img_new {
  width: 380px;
  height: 251px;
}
/* Подвал сайта */
.footer {
  background-color: var(--dark);
}
.footer_grid {
  display: grid;
  grid-template: repeat(1, 1fr)/4fr repeat(3, 1fr);
  padding-top: 56px;
}
.footer_grid_item ul li{
  color: var(--light);
  font-size: 16px;
  margin-bottom: 24px;
}
.footer_grid_item ul li:last-child{
  margin-bottom: 0;
}
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 14px;
  padding-top: 73px;
  padding-bottom: 24px;
}
